.header {
  margin: 0 auto;
  width: 400px;
  height: 60px;
  line-height: 60px;
  background-color: #80ffff;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 4px;
}